h1,
h2,
h3,
h4,
p,
li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-style: oblique;
}
h3 {
  font-size: 20px;
}
p {
  font-size: 22px;
}
#author {
  font-style: italic;
  font-size: 22px;
}
#copyright {
  font: size 10px;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
.related-bullet {
  list-style: none;
}
h4 {
  text-align: center;
  text-transform: uppercase;
}
.main-header {
  background-color: #f7f7f7;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}
/* expriment on li */
li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
li:nth-child(even) {
  color: #1098ad;
}
